<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>有一种思念，是淡淡的幸福-杨青个人博客网站</title>
<meta name="keywords" content="杨青个人博客网站,杨青个人网站，杨青博客,个人博客,个人网站" />
<meta name="description" content="杨青个人原创博客，提供个人博客，个人网站源码分享" />
<link href="__PUBLIC__/css/index.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>




<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare share">
<a class="bds_tsina"></a>
<a class="bds_qzone"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<span class="bds_more"></span>
</div>
<div id="bdshare" class="tianqi" style="height:80px;width:300px;">

</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=3&id=796631661&auto=1&height=66"></iframe>
</head>
<body>
<header>
  <h1><a href="/">Missing </a></h1>
  <p>有一种思念，是淡淡的幸福；有一种幸福，是常常的牵挂；有一种牵挂，是远远地欣赏.......</p>
</header>





<include file="Public/header" />
<article>
  
    <div class="pho">



       <ul>
          <li><a href="__PUBLIC__/#pic01"><img src="__PUBLIC__/images/01.jpg"></a></li>
          <li><a href="__PUBLIC__/#pic02"><img src="__PUBLIC__/images/02.jpg"></a>
          </li>
            
          <li><a href="__PUBLIC__/#pic03"><img src="__PUBLIC__/images/03.jpg"></a></li>
       </ul>    
    </div>
    <div class="blank"></div>
    <volist name="pic" id="co">
<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=0OLh5uDl4ePh5uWQoaH_s7_9" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_12.png"/></a>

    <div class="blog">
      <h2>{$co.time|date="Y-m-d H:i:s",###}</h2> 
      <ul>
        <img src="__ROOT__/{$co.pic}"><h3 class="title"><a href="__MODULE__/Liuyan/index/id/{$co.id}">{$co.title}</a></h3>
        
        <p>5) 愈害怕失去的人，愈容易失去。愈想得到，就愈要放手。 放手是很难的，但是别无选择。 世上有很多东西是可以挽回的，比如良知，比如体重。 但不可挽回的东西更多，譬如旧梦，譬如岁月，譬如对一个人的感觉。 放弃一个很爱你的人并不痛苦，放弃一个你很爱的人才是痛苦。</p>
        <p>6) 假装坚强，是不想让人看到眼泪；假装开心，是不想让人知道寂寞；假装快乐，是不想让人看出孤独；假装高兴，是不想让人看见伤口；假装甜蜜，是不想让人看见泪水；假装轻松，是不想让人发觉心酸；假装幸福，是不想让人看见疤痕；假装成熟，是不想让人看出无知；假装聪明，是不想让人看到失败。</p>
      </ul>
    </div>
  </volist>
  
</article>
<include file="Public/footer" />
</body>
</html>
