<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__URL__/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">文章管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="{:U('Essay/sub')}" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="sub" value="" id="sub" type="text"></td>
                                <td><input class="btn btn-primary btn2" name="" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post"
            action="#">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add"><i class="icon-font"></i>新增文章</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>
                        <input type="submit" class="btn btn-primary btn2" value='更新排序' />
                    </a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>ID</th>
                            <th>用户</th>
                            <th>审核状态</th>
                            <th>头像</th>
                            <th>注册时间</th>
                            <th>操作</th>
                        </tr>
                        <volist name="row" id="ao">
                        <tr>
                            <td class="tc"><input name="id[]" value="" type="checkbox"></td>
                            <td>{$ao.id}</td>
                            <td>{$ao.username}</td>
                            <td>
                                <if condition="$ao gt 60">
                                    <p style="color: green;">用户正常</p>
                                    <else />
                                    <p style="color: red;">用户被封杀</p>
                                </if>
                                
                            </td>
                            <td>
                                <if condition="$ao['pic'] neq ''">
                                    <img src="__ROOT__/{$ao.pic}" height="50" />
                                    <else/>
                                    无图片
                                </if>
                            </td>
                            <td>{$ao.time|date="Y-m-d H:i:s",###}</td>
                            
                            <td>
                                <a class="link-update" href="__CONTROLLER__/lock/id/{$ao.id}" onclick="return confirm('是否封杀?');">封杀</a>
                               
                            </td>
                        </tr>
                        
                        </volist>  
                    </table>
                    <div class="list-page">{$page}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>