<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
     <script type="text/javascript" src="__PUBLIC__/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="#">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>修改作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Essay/up')}" method="post" id="myform" name="myform">
                    <input type="hidden" name="id" value="{$art.id}" />
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                            <th width="120"><i class="require-red">*</i>分类：</th>
                            <td>
                                <select name="cateid" id="cateid" class="required">
                                    <option value="">请选择</option>
                                    <volist name="res" id="bo">
                                    <option 
                                    <if condition="$bo['id'] eq $art['cateid']">selected = "selected"
                                    </if>value="{$bo.id}">{$bo.list}</option>
                                </volist>
                                </select>
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="{$art.title}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>作者：</th>
                                <td><input class="common-text" name="decac" size="50" value="{$art.decac}" type="text"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>缩略图：</th>
                                <td><input name="pic" id="pic" type="file" value="{$art.pic}">

                                <if condition = "$art['pic'] neq ''">
                                    <img src="__ROOT__/{$art.pic}" height="50">
                                <else/>
                                    无图片
                                </if>

                                </td>
                            </tr>
                            <tr>
                               <th>内容：</th>
                                <td><textarea name="content" id="TextArea1" value="{$art.content}"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
<script type="text/javascript">
    //CKEDITOR.replace('TextArea1');
    //如果是在ASP.NET环境下用的服务器端控 件<TextBox>
   // CKEDITOR.replace('tbContent');
    //如 果<TextBox>控件在母版页中，要这样写
   // CKEDITOR.replace('<%=tbContent.ClientID.Replace("_","$") %>');
</script>
</body>
</html>